
.header{
     background: red;
     grid-area: header;
}
@media screen and (min-width: 1024px) {
  .footer{
    background: purple;
    grid-area: footer;
 }
 .container {
  display: grid;
  grid-template-columns: 1fr 40% 20%  ;
  grid-template-rows: 10% 20% 30% 30% 10%;
  height: 100vh;
  width: 100%;
  grid-template-areas: 
  "header header header"
  "main main sidebar"
  "content-1 content-1 sidebar"
  "content-2 content-3 sidebar"
  "footer footer footer";
  gap: 1rem;
}
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
  .footer{
    display: none;
 }
 .container {
  display: grid;
  grid-template-columns: 1fr 40% 20%  ;
  grid-template-rows: 10% 20% 30% 30% 10%;
  height: 100vh;
  width: 100%;
  grid-template-areas: 
  "header header "
  "main sidebar"
  "content-1 sidebar"
  "content-2 content-3 "
 ;
  gap: 1rem;
}
}

@media screen and (max-width: 719px) {
  .footer{
    display: none;
 }
 .main {
  height: 50vh;
 }
 .content-1 {
  height: 50vh;
 }
 .content-2 {
  height: 50vh;
 }
 .content-3 {
  height: 50vh;
 }
 .sidebar {
  height: 50vh;
 }
}


   
.main {
    background: saddlebrown;
    grid-area: main;
}

 .content-1 {  
    background: green;  
    grid-area: content-1;
  }
  
  .content-2 {
    background: green;  
    grid-area: content-2;
  }
  
  .content-3 {
    background: green;  
    grid-area: content-3;
  }

 .sidebar{
    background:  pink;
    grid-area: sidebar;
 }



